<div id="widgetCompressionStatistics" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ geturl('settings', 'compression' ) }}">{{ 'lbl.Compression'|trans|capitalize }}: {{ 'lbl.Statistics'|trans|capitalize }}</a>
        </h2>
    </div>

    <div class="panel-body">
        {% if statistics.statistics_enable %}
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>{{ 'lbl.TotalCompressed'|trans|capitalize }}</th>
                        <td>
                            {{ statistics.total_compressed }} {{ 'lbl.Images'|trans|capitalize }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'lbl.SavedBytes'|trans|capitalize }}:</th>
                        <td>
                            {{ statistics.saved_bytes }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'lbl.SavedPercentage'|trans|capitalize }}</th>
                        <td>
                            {{ 'msg.YouSavedPercentageImages'|trans|sprintf(statistics.saved_percentage) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>{{ 'lbl.NoStatistics'|trans }}</p>
        {% endif %}
    </div>
</div>
