<div id="widgetCompressionStatistics" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="{{ geturl('settings', 'compression' ) }}">{{ 'lbl.Compression'|trans|ucfirst }}
        : {{ 'lbl.Statistics'|trans|ucfirst }}</a>
    </h2>
  </div>

  <div class="panel-body">
    {% if statistics.totalCompressedImages > 0 %}
      <table class="table table-striped">
        <tbody>
        <tr>
          <th>{{ 'lbl.TotalCompressed'|trans|ucfirst }}</th>
          <td>
            {{ statistics.totalCompressedImages }} {{ 'lbl.Images'|trans }}
          </td>
        </tr>
        <tr>
          <th>{{ 'lbl.SavedBytes'|trans|ucfirst }}:</th>
          <td>
            {{ statistics.savedBytesFormatted }}
          </td>
        </tr>
        <tr>
          <th>{{ 'lbl.SavedPercentage'|trans|ucfirst }}</th>
          <td>
            {{ 'msg.YouSavedPercentageImages'|trans|format(statistics.savedPercentage)|raw }}
          </td>
        </tr>
        </tbody>
      </table>
    {% else %}
      <p>{{ 'lbl.NoStatistics'|trans }}</p>
    {% endif %}
  </div>
</div>
