{% extends '/Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Settings'|trans|capitalize }}
          </h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            {{ 'msg.LinkTinyPNGAccount'|trans|raw }}
          </div>

          <div class="form-group">
            {{ form_row(form.apiKey) }}
          </div>

          {% if monthlyCompressionCount is not null %}
            <div class="usage">
              {{ 'msg.TotalMonthlyUsage'|trans }}:
              <span class="{% if monthlyCompressionCount < 500 %}usage__counter--free{% else %}usage__counter--full{% endif %}">{{ monthlyCompressionCount }}</span> / 500
            </div>
          {% endif %}

          {{ form_rest(form) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          {{ macro.buttonIcon('', 'link', 'lbl.AuthenticateWithTinyPNG'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"save", "name":"save"} ) }}
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
